body
{
    background-color:#026CED;
}
h2
{
    background-color: #035AC4;
   color: white;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.gm
{
    text-align: center;
}