body
{
    background-color:#04001E ;
}
h2
{
    background-color: #0440DE;
   color: white;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.i
{
    text-align: center;
}