body
{
    background-color: #FF4B4B;
}
h2
{
    background-color: #ca8474 ;
   color: white;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.v
{
    text-align: center;
}